.of-grid-top-right {
  position: fixed;
  top: 40px;
  z-index: 1000;
  width: width(5);
  right: 40px;
  text-align: right;

  .of-container {
    transition: all 1s;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 300;
    height: 25px;

    .text {
      opacity: 0;
    }

    a {
      height: 20px;
    }
  }
}
