// reset
@import "./imports/reset";

// blueprint
@import "../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

// imports
@import "./imports/colors";
@import "./imports/fonts";
@import "./imports/variables";
@import "./imports/links";
@import "./imports/blueprint_overides";
@import "./imports/animations";
@import "./imports/grid";

// pages
@import "../App";
@import "../react/pages/home/index";

html {
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	background: $black;
	font-family: "OF", sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	color: white;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	// -webkit-overflow-scrolling: touch;
}

// Selection
// -------------------------

::selection {
  background: $white;
  color: $black;
}

::-moz-selection {
  background: $white;
  color: $black;
}

// Links
// -------------------------

a {
	color: $white;
	text-decoration: none;

	&:hover {
		color: $white;
		text-decoration: none;
	}

	&:active {
		color: $white;
	}
}
