.button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 54px;
  letter-spacing: 1.3px;
  font-size: 12px;
  font-weight: 600;

  .button-text {
    position: relative;
    top: -1px;
  }

  &:hover {
    color: $white;
  }
}

.white-button-filled {
  color: $black;
  background: $white;

  &:hover {
    color: $black;
  }
}

.white-button-outlined {
  border: 1px solid $white;

  &:hover {
    color: $white;
  }
}
