$columns: 20;
$offset: $padding;
$rowPadding: 20px;
$gutterWidth: 10px;
$columnWidth: 70px;

@for $i from 1 through $columns {
  .of-grid-#{$i} {
      margin-right: 10px;
      width: calc((100% / #{$columns} * #{$i}) - 10px);
  }
}

@for $i from 1 through $columns {
  .of-grid-gutter-#{$i} {
      margin-left: calc(((100% / #{$columns}) * #{$i}));
  }
}

@for $i from 1 through $columns {
  .of-grid-width-#{$i} {
      width: calc((100% / #{$columns} * #{$i}) - 10px);
  }
}

@for $i from 1 through $columns {
  .of-grid-left-#{$i} {
      left: calc((100% / #{$columns} * #{$i}));
  }
}

.of-grid-#{$columns}, .of-grid-full {
  width: 100%;
}

.of-grid-container {
  display: block;
  width: calc(100%);
  // margin-bottom: $gutterWidth;
  display: flex;
  position: relative;
}

.of-grid {
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin: 0 30px 0 40px;
  // height: 3000px;


  &.of-grid-preview {
    display: flex;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;

    .of-grid-container {
      flex-grow: 1;
      margin-bottom: 0;
    }

    @for $i from 1 through $columns {
      .of-grid-#{$i} {
        // background: red;
        flex-grow: 1;
        opacity: 0.3;
      }
    }
  }
}
