.main-links-container {
  ul.main-links {
    opacity: 0;

    li.main-link-container {
      overflow: hidden;
      position: relative;
    }
  }
}

.of-grid-navigation {
  @media only screen and (max-width: $mobile) {
    display: none
  }
}
