.of-grid-bottom-left {
  position: fixed;
  bottom: 40px;
  z-index: 1000;
  width: width(3);
  left: 40px;
  display: flex;

  .arrow-container {
    width: 10px;
    height: 28px;
    overflow: hidden;
    position: relative;
    display: block;
    margin-right: 20px;
    margin-top: 4px;

    .arrow-icon {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .scroll-message-container {
    letter-spacing: 0.5px;

    .scroll-message-title {
      font-size: 14px;
      font-weight: 300;
    }

    .scroll-message-description {
      margin: 0;
      font-size: 11px;
      font-weight: 300;
      opacity: 0.3;
    }
  }

  .count-container {
    display: inline-block;
    width: 35px;
    text-align: center;
  }
}
