.mobile-header-container {
    position: fixed;
    z-index: 100;
    background: $white;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba($black, 0.1);
    overflow: hidden;

    @media only screen and (min-width: $mobile) {
        display: none
    }

    .mobile-logo {

    }

    .mobile-description {

    }

    .mobile-navigation {}
}