.of-grid-images {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  .of-grid-image {
    position: relative;

    .image-wrapper {
    }

    .info {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($black, 0.5);
      font-size: 10px;
      z-index: 10;
    }

    img {
      position: relative;
      z-index: 1;
      max-width: 100%;
    }
  }

  .image-1 {
    position: absolute;
    top: 150px;
    display: none;
    @extend .of-grid-width-3;
    @extend .of-grid-left-16;
  }

  .image-2 {
    position: absolute;
    top: 700px;
    // display: none;
    @extend .of-grid-width-4;
    @extend .of-grid-left-16;
  }

  .image-3 {
    position: absolute;
    top: 1100px;
    display: none;
    @extend .of-grid-width-5;
    @extend .of-grid-left-13;
  }

  .image-4 {
    position: absolute;
    top: 2400px;
    @extend .of-grid-width-10;
    left: 0;
  }

  .image-5 {
    position: absolute;
    top: 1800px;
    display: none;
    @extend .of-grid-width-4;
    @extend .of-grid-left-16;
  }

  .image-6 {
    position: absolute;
    top: 800px;
    display: none;
    @extend .of-grid-width-12;
    @extend .of-grid-left-8;
  }
}
