.of-grid-images {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 1000px;

  .image-1 {
    position: absolute;
    top: 150px;
    height: 40px;
    background: rgba(green, 0.5);

    @extend .of-grid-width-4;
    @extend .of-grid-left-12;
  }

  .image-2 {
    position: absolute;
    top: 400px;
    height: 100px;
    background: rgba(green, 0.5);

    @extend .of-grid-width-3;
    @extend .of-grid-left-17;
  }

  .image-3 {
    position: absolute;
    top: 600px;
    height: 400px;
    background: rgba(green, 0.5);

    @extend .of-grid-width-5;
    @extend .of-grid-left-11;
  }

  .image-4 {
    position: absolute;
    top: 2000px;
    height: 500px;
    background: rgba(green, 0.5);

    @extend .of-grid-width-5;
    @extend .of-grid-left-1;
  }

  .image-5 {
    position: absolute;
    top: 1200px;
    height: 500px;
    background: rgba(green, 0.5);

    @extend .of-grid-width-6;
    @extend .of-grid-left-8;
  }
}

.of-grid-application {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(yellow, 0.2);
  z-index: 2;
}

.of-grid-logo {
  position: fixed;
  top: 30px;
  left: 40px;
  z-index: 1000;
  width: 200px;

  .of-text {
    font-size: 18px;
    letter-spacing: 1.1px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.of-grid-navigation {
  position: fixed;
  top: 0;
  left: 40px;
  z-index: 2;
  width: 200px;
  bottom: 0;
  display: flex;
  align-items: center;
}

.of-grid-content {
  z-index: 3;
  height: 2500px;
  // background: rgba(white, 0.2)
}
