.app {}

.of-grid-logo {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1000;
  width: 200px;

  .of-text {
    font-size: 18px;
    letter-spacing: 1.1px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.of-grid-navigation {
  position: fixed;
  top: 0;
  left: 40px;
  z-index: 2;
  width: 200px;
  bottom: 0;
  display: flex;
  align-items: center;
}

.app-intro {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0;
  z-index: 100;
  height: 100vh;
  display: flex;
  // align-items: center;
  // justify-content: center;
  // background: $black;

  .of-grid {
    display: flex;
    flex-grow: 1;
  }

  .of-grid-photo {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;

    @extend .of-grid-width-6;
    @extend .of-grid-left-7;

    img {
      width: 100%;
    }
  }

  .of-grid-footer {
    position: absolute;
    left: 0;
    right: 10px;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    align-items: center;

    .of-grid-bottom-label-left {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .of-grid-progress-bar-container {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      margin: 0 15px;
      height: 1px;
      position: relative;
      overflow: hidden;

      .of-grid-progress-bar {
        width: 100%;
        left: -100%;
        position: absolute;
        left: 0;
        height: 1px;
        background: rgba($white, 0.2);
      }
    }
  }

  .of-grid-name {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 5.3vw;
    letter-spacing: 8px;
    user-select: none;

    .of-container {
      line-height: 75px;
    }

    span {
      overflow: hidden;
    }
  }
}
