.of-grid-logo {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1000;
  width: 200px;
  user-select: none;
  cursor: pointer;

  .of-text {
    font-size: 18px;
    letter-spacing: 1.1px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.of-grid-top-left {
  position: fixed;
  top: 40px;
  z-index: 1000;
  width: width(5);
  left: left(4);
  display: flex;

  .of-container {
    transition: all 1s;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 300;
  }

  &:hover {
    .of-container {
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }
  }

  .divider-container {
    width: 40px;
    position: relative;
    margin: 8px 10px 0 10px;
    height: 1px;
    overflow: hidden;

    .divider-bar {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      background: $white;
      transition: all 1s;

      &.right {
        left: 100%;
      }

      &.left {
        left: -100%;
      }
    }
  }
}



.of-grid-top-right {
  position: fixed;
  top: 40px;
  z-index: 1000;
  width: width(5);
  right: 40px;
  text-align: right;

  .of-container {
    transition: all 1s;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 300;
    height: 25px;

    a {
     height: 20px;
    }
  }
}

.of-grid-bottom-right {
  position: fixed;
  bottom: 20px;
  z-index: 1000;
  width: width(5);
  right: 40px;
  text-align: right;
  transform: rotate(90deg) translateX(18px);
  transform-origin: top right;
  display: flex;
  flex-direction: column;


  .of-container {
    transition: all 1s;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 5px 0;
  }
}

.of-grid-bottom-left {
  position: fixed;
  bottom: 40px;
  z-index: 1000;
  width: width(3);
  left: 40px;
  display: flex;

  .arrow-container {
    width: 10px;
    height: 28px;
    overflow: hidden;
    position: relative;
    display: block;
    margin-right: 20px;
    margin-top: 4px;

    .arrow-icon {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .scroll-message-container {
    letter-spacing: 0.5px;
    
    .scroll-message-title {
      font-size: 14px;
      font-weight: 300;
    }

    .scroll-message-description {
      margin: 0;
      font-size: 11px;
      font-weight: 300;
      opacity: 0.3;
    }
  }
}

.of-grid-navigation {
  position: fixed;
  top: 0;
  left: 40px;
  z-index: 2;
  width: 200px;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 10;

  ul.main-links {
    li.main-link-container {
      font-size: 30px;
      padding: 15px 0;
      font-weight: 300;
      letter-spacing: 1.3px;
      transition: all 1s;
      position: relative;

      &:before {
        content: "";
        width: 0;
        left: -40px;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 34px;
        transition: all 0.2s;
      }
    }

    &.active {
      li.main-link-container {
        opacity: 0.3;

        &.main-link-active {
          opacity: 1;

          &:before {
            width: 25px;
          }
        }
      }
    }

    &:hover {
      li.main-link-container {
        opacity: 0.3;

        &:hover {
          opacity: 1;
        }
      }
    }
  }


}

.app-intro {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0;
  z-index: 100;
  height: 100vh;
  display: flex;

  .of-grid {
    display: flex;
    flex-grow: 1;
  }

  .of-grid-photo {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;

    @extend .of-grid-width-6;
    @extend .of-grid-left-7;

    img {
      width: 100%;
    }
  }

  .of-grid-footer {
    position: absolute;
    left: 0;
    right: 10px;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    align-items: center;

    .of-grid-bottom-label-left {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .of-grid-progress-bar-container {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      margin: 0 15px;
      height: 1px;
      position: relative;
      overflow: hidden;

      .of-grid-progress-bar {
        width: 100%;
        left: -100%;
        position: absolute;
        left: 0;
        height: 1px;
        background: rgba($white, 0.2);
      }
    }
  }

  .of-grid-name {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 5.3vw;
    letter-spacing: 8px;
    user-select: none;

    .of-container {
      line-height: 75px;
    }

    span {
      overflow: hidden;
    }
  }
}

.of-grid-content-layer {
  position: relative;
  z-index: 10
}

.of-grid-content {
  z-index: 3;
  height: 2500px;
  opacity: 0;
  transition: all 0.2s;

  @media only screen and (max-width: $mobile) {
    margin-left: 0;
    width: calc(100% - 10px);
  }

  &.of-grid-content-visible {
    opacity: 1;
  }
}

.route-container {}
