.of-grid-logo {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1000;
  width: 200px;
  user-select: none;
  cursor: pointer;

  .of-text {
    font-size: 18px;
    letter-spacing: 1.1px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
