.of-grid-logo {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1000;
  width: 200px;
  user-select: none;
  cursor: pointer;

  .of-text {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 1s;
    opacity: 0;
    transform: translateY(30px)
  }

  &:hover {
    .of-text {
      letter-spacing: 3px;
    }
  }

  @media only screen and (max-width: $mobile) {
    display: none
  }
}
